#container {
  border: 1px dashed purple;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content:space-around;
  align-items: center;
}

.labyrinth {
  display: grid;
  /* min-width: 900; */
  border: 1px ;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
 
}

.human {
  display: grid;
  border: 1px ;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;
  } 
  
.attributesList{
  display: grid; 
   justify-content: center;
  grid-gap: 1px;
  border: 1px dashed greenyellow;
 } 
 .attribute{
  display: grid; 
   justify-content: center;
  grid-gap: 1px;
  border: 1px dashed red;
 } 
    
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 184px;
  height: 184px;
} 

  
.navigator{
  display: grid; 
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  justify-content: center;
  grid-gap: 1px;
  border: 1px solid gold;
} 
  
/* .arrow{
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid rgb(26, 165, 181);
}  */

.emptyEl{
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid rgb(26, 165, 181);
} 

.map{
  display: grid; 
  justify-content: space-around;
  grid-gap: 1px;
  border: 2px dashed rgba(36, 154, 36, 0.027);
  grid-template-columns: repeat(6, 1fr);
} 

 .mapCell{
  display: grid;
  min-width: 20;
  min-height: 20;
  grid-gap: 1px;
  border: 1px solid orangered;
 }



/*#navigator {
  border: 1px solid #e109c4; 
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#attribution {
  border: 1px solid greenyellow; 
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.attributionRow{
  border: 1px solid red ;
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}



.arrow{
  border: 1px solid darkorchid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 15;
  height: 15;
  align-items: center;
  justify-content:center;
}

.row{
  border:0 ;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.form{
  border:0 ;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}*/



