#container {
    border: 1px dashed purple;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content:space-around;
    align-items: center;
  }
  .human {
    min-height: 300;
    min-width: 900;
    border: 1px ;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content:space-around;
    align-items: center;
  }


  .navigator{
    display: grid; 
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    grid-gap: 1px;
    border: 1px solid gold;
  }

  

  .arrow{
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(26, 165, 181);
    }

  .attribute{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-self: stretch;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 184px;
    height: 184px;
  }
  
  .map{
    display: grid; 
    justify-content: space-around;
    grid-gap: 1px;
    border: 2px dashed green;
    grid-template-columns: repeat(6, 1fr);
  }

  .mapCell{
    display: grid;
    min-width: 20;
    min-height: 20;
    grid-gap: 1px;
    border: 1px solid orangered;
  }

/*#navigator {
  border: 1px solid #e109c4; 
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#attribution {
  border: 1px solid greenyellow; 
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.attributionRow{
  border: 1px solid red ;
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}



.arrow{
  border: 1px solid darkorchid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 15;
  height: 15;
  align-items: center;
  justify-content:center;
}

.row{
  border:0 ;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.form{
  border:0 ;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}*/



